<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% listing.address %></title>
</head>
<body>
    <h2>Property Details</h2>
    <h3>Address: <%= listing.address %></h3>
    <h3>Description: <%= listing.desc %></h3>
    <h3>Price: $<%= listing.price %></h3>
    <h3>Beds: <%= listing.bed %></h3>
    <h3>Baths: <%= listing.bath %></h3>
    <h3>sqft: <%= listing.sqft %></h3>
<form action="/allListings/<%=listing._id%>?_method=DELETE" method="POST">
    <button type="submit">Delete <%= listing.address%></button>
</form>
<!-- <a href="/allListings/<%= listing._id %>/edit">Edit <%= listing.address %></a> -->
<a href="/allListings">Back to All Listings</a>
</body>
</html>